import nltk
nltk.download("stopwords")
nltk.download("punkt")
from textblob import Word

from nltk.corpus import stopwords
import textblob

from nltk import word_tokenize,pos_tag,ne_chunk

nltk.download("words")
